body {
  background-color: rgb(22,22,22);
}

.text {
  color: rgb(210,210,210);
  font-family: Arial;
}

.main-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
}

.link {
  text-decoration: none;
  color: rgb(210,210,210);
  font-family: Arial;
}

.link:hover {
  text-decoration: underline;
}

.card {
  display: inline-block;
  box-shadow: 0 4px 8px 1px rgba(0,0,0,0.2);
  background-color: rgb(36,36,36);
  padding: 10px 10px;
  transition: 0.3s;
  margin: 3px 10px;
  width: 20%;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
